*.sqlite3
Pipfile.lock
docs/build/html
docs/source/_templates
docs/source/_static
docs/source/index.rst
*.log
__pycache__/
*.py[cod]
*\$py.class
migrations/*

.vscode/
.idea/

secrets/
*.key
*.pem
.env
.env.prod

